<h1>Data Science Tools and Ecosystem</h1>

<h2>Author:</h2>
<p>Thiago Glauco Sanchez</p>

<p>In this notebook, <b>Data Science Tools and Ecosystem</b> are summarized.</p>

<p><b>Objectives:</b></p>
<ul>
    <li>List of DataScience Languages</li>
    <li>List of DataScience Libraries</li>
    <li>Table of DataScience Environments</li>
</ul>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Julia</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
    <li>numpy</li>
    <li>pandas</li>
    <li>matplotlib</li>
    <li>scikit-learn</li>
</ol>

<table>
    <thead align="center">
        <tr><th>Data Science Tools</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>JUPYTER Notebooks</td>
        </tr>
        <tr>
            <td>RStudio</td>
        </tr>
        <tr>
            <td>PyCharm</td>
        </tr>
    </tbody>

</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [17]:
(3*4)+5
#this a simple arithmetic expression to mutiply then add integers

17

In [23]:
#This will convert 200 minutes to hours by diving by 60
round(200/60, 2)

3.33